<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <title>EdenJewelry</title>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>JNDI reference a data source</description>
        <res-ref-name>jdbc/MyDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- AreaRiservata servlet -->
    <servlet>
        <servlet-name>AreaRiservataServlet</servlet-name>
        <servlet-class>main.java.gestioneAccount.areaRiservata.AreaRiservataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaRiservataServlet</servlet-name>
        <url-pattern>/AreaRiservataServlet</url-pattern>
    </servlet-mapping>

    <!-- Login servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>main.java.presentation.areaRiservata.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- Registrazione servlet -->
    <servlet>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <servlet-class>main.java.presentation.areaRiservata.RegistrazioneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <url-pattern>/RegistrazioneServlet</url-pattern>
    </servlet-mapping>

    <!-- Carrello servlet -->
    <servlet>
        <servlet-name>CarrelloServlet</servlet-name>
        <servlet-class>main.java.presentation.acquisti.CarrelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarrelloServlet</servlet-name>
        <url-pattern>/CarrelloServlet</url-pattern>
    </servlet-mapping>

    <!-- Wishlist servlet -->
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>main.java.presentation.acquisti.WishlistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>

    <!-- Catalogo utente servlet -->
    <servlet>
        <servlet-name>CatalogoUtenteServlet</servlet-name>
        <servlet-class>main.java.gestioneProdotti.catalogo.CatalogoUtenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogoUtenteServlet</servlet-name>
        <url-pattern>/CatalogoUtenteServlet</url-pattern>
    </servlet-mapping>

    <!-- Catalogo venditore servlet -->
    <servlet>
        <servlet-name>CatalogoVenditoreServlet</servlet-name>
        <servlet-class>main.java.presentation.home.CatalogoVenditoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogoVenditoreServlet</servlet-name>
        <url-pattern>/CatalogoVenditoreServlet</url-pattern>
    </servlet-mapping>

</web-app>