<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <title>EdenJewelry</title>
    <welcome-file-list>
        <welcome-file>/script/homepage.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>JNDI reference a data source</description>
        <res-ref-name>jdbc/MyDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- AreaRiservata servlet -->
    <servlet>
        <servlet-name>AreaRiservataServlet</servlet-name>
        <servlet-class>main.java.presentation.areaRiservata.AreaRiservataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaRiservataServlet</servlet-name>
        <url-pattern>/AreaRiservataServlet</url-pattern>
    </servlet-mapping>

    <!-- Login servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>main.java.presentation.areaRiservata.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- Registrazione servlet -->
    <servlet>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <servlet-class>main.java.presentation.areaRiservata.RegistrazioneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <url-pattern>/RegistrazioneServlet</url-pattern>
    </servlet-mapping>

    <!-- Carrello servlet -->
    <servlet>
        <servlet-name>CarrelloServlet</servlet-name>
        <servlet-class>main.java.presentation.acquisti.CarrelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarrelloServlet</servlet-name>
        <url-pattern>/CarrelloServlet</url-pattern>
    </servlet-mapping>

    <!-- Checkout servlet -->
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>main.java.presentation.acquisti.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>

    <!-- Wishlist servlet -->
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>main.java.presentation.acquisti.WishlistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>

    <!-- Catalogo servlet -->
    <servlet>
        <servlet-name>CatalogoServlet</servlet-name>
        <servlet-class>main.java.presentation.home.CatalogoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogoServlet</servlet-name>
        <url-pattern>/CatalogoServlet</url-pattern>
    </servlet-mapping>

    <!-- Ricerca prodotto servlet -->
    <servlet>
        <servlet-name>RicercaProdottoServlet</servlet-name>
        <servlet-class>main.java.presentation.home.RicercaProdottoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RicercaProdottoServlet</servlet-name>
        <url-pattern>/RicercaProdottoServlet</url-pattern>
    </servlet-mapping>



</web-app>