body {
    font-family: "Merienda", serif;
    margin: 0;
    padding: 0;
    background-color: #e8d8f1;
}

.background-image {
    bottom: 0;
    left: 0;
    width: 25%;
    height: auto;
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

header {
    background-color: #7a5266;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}


header img {
    height: 60px;
}

header .icons {
    display: flex;
    flex-direction: row;
    margin-top: 5px; /* per allineare le icone all'immagine del logo */
    /*gap: 25px;*/
}

.icons img {
    height: 40px;
    cursor: pointer;
}

.icons p{
    padding-right: 30px;
    color: black;
}

.icons img:hover {
    opacity: 65%;
    height: 45px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

.login-box {
    background-color: #d7b3e5;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-box input {
    font-family: "Merienda", serif;
    width: 92%;
    padding: 10px;
    margin: 10px 0px 10px 3px;
    border: none;
    border-radius: 5px;
    background-color: #f2e7f6;
    font-size: 16px;
}

.login-box button1 {
    width: 70%;
    padding: 10px;
    background-color: #c489d4;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    /*margin-left: 25%; per allineare a destra*/
    max-resolution: 10px;
}

.login-box button {
    font-family: "Merienda", serif;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.2); /* background trasparente */
    color: #fff;
    backdrop-filter: blur(10px); /* sfocatura effetto vetro */
    -webkit-backdrop-filter: blur(10px); /* per Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 90%;
    transition: opacity 2s ease;
}

.login-box button:hover {
    background-color: #ab70be;
}

.login-box a {
    color: #4e2d4e;
    text-decoration: none;
    font-size: 14px;
}

.login-box a:hover {
    text-decoration: underline;
}

