body {
    font-family: "Merienda", serif;
    background-color: #e7d7f2;
    margin: 0;
    padding: 0;
}

.background-image {
    bottom: 0;
    left: 0;
    width: 25%;
    height: auto;
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

header {
    background-color: #7a5266;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ombra per separare visivamente l'header */
}

header img {
    height: 60px; /* Altezza uniforme del logo */
}

header .icons {
    display: flex;
    gap: 15px; /* Spaziatura uniforme tra le icone */
}

.icons span {
    font-size: 20px; /* dimensione testo delle icone */
    cursor: pointer; /* icone sono interattive */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 55%;
    height: 65%;
    padding: 20px;
    text-align: center;
}

.product-image img {
    width: 290px;
    margin-bottom: -40px;
    justify-content: left;
}

.product-title {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    color: #8a2be2;
    margin-bottom: 20px;
}

.button {
    font-family: "Merienda", serif;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 80%;
}

.wishlist {
    background-color: #d8a1e8;
}

.cart {
    background-color: #b896e8;
}

.product-info {
    margin-top: 9%;
    text-align: left;
}

.product-info-item {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.product-info-item button {
    font-family: "Merienda", serif;
    background: none;
    border: none;
    color: #8a2be2;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.product-info-item p{
    background: none;
    border: none;
    color: #8a2be2;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin-left: 3%;
}

.product-details {
    text-align: left;
    flex-grow: 1; /* occupa lo spazio rimanente */
    display: flex; /* attiva flexbox */
    flex-direction: column; /* organizza i figli verticalmente */
    justify-content: center; /* centra verticalmente tutto il contenuto rispetto all'immagine */
    gap: 5px; /* spazio tra gli elementi  */
}

.product-details-text {
    padding-left: 10%;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}



